.card-checkbox {
    margin-right: 1rem;
}

.card-button {
    display: flex;
    justify-content: end;    
    flex-grow: 1;
}

.button {
    margin-right: 1rem;
}

.task-completed {
    text-decoration: line-through;
}

.card-task {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid #f8f8f8;
}